.DS_STORE
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.bst
*.cls
*.lb
*-eps-converted-to.pdf
template
CElegansHubs.pdf
plos_latex_template.pdf
CelegansHubs.ps
schematic.svg
schematic.eps
CelegansHubs RP.pdf
CelegansHubs_RP_AA.pdf
